.parallaxZero { 
    height: 790px; 
    
    background-image: url("assets/be-creative.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallaxOne { 
    height: 790px; 
    
    background-image: url("assets/ocean.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallaxTwo { 
    min-height: 790px; 
    
    background-image: url("assets/photography.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .textOne {
    height:500px;
    background-image: linear-gradient(#12a075, #686d26);
    font-size:36px;
    font-family: 'Times New Roman', Times, serif;
    color: wheat;
  }